$font-color : #333;

html {
  font-size: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $font-color;
}

img {
  max-width: 100%;
}

body {
  
  font-size: 0.75rem;
}

header {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  > a {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 32px;
    

    .site-title {
      line-height: 0;

      img {
        width: 180px;
      }
    }
  }

  .humberger-menu {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 30px;
    // background-color: pink;
    z-index: 30;
    cursor: pointer;
    transition: 0.4s;
    padding-top: 10px;
    position: relative;

    &:hover {
      opacity: 0.5;
    }
    
    span {
      width: 30px;
      height: 2px;
      background-color: $font-color;
      transition: 0.3s ease-in-out;

      &:nth-child(1) {
        position: absolute;
        top: 9px;
      }

      &:nth-child(2) {
        position: absolute;
        top: 19px;
      }
    }

    &.active {
      span:nth-child(1) {
        top: 14px;
        background: #fff;
        transform: rotate(-45deg);
      }

      span:nth-child(2) {
        top: 14px;
        background: #fff;
        transform: rotate(45deg);
      }
    }
  }


  #humberger-navigation {
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    padding-top: 40px;
    padding-left: 40px; 
    visibility: hidden;
    

    li {
      margin-bottom: 16px;
      transition: all 0.3s;
      transform: translateX(-100px);
      a {
        color:#fff;
        font-size: 0.9rem;
      }
    }

    &.active {
      opacity: 0.8;
      // display: block;
      visibility: visible;

      li {
        transform: translateX(0);
      }
    }
  }
}

main {
  max-width: 1360px;
  padding: 0 40px;
  margin: 110px auto 60px;

  ul {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    gap: 40px 2%;
    margin-bottom: 32px;
  }

  a {
    display: inline-block;
    
    
  }

  .more-btn {
    text-align: center;

    a {
      font-size: 0.875rem;
    }
  }

  .index-btn {
    display: flex;
    justify-content: center;

    a {
      margin: 0 20px;
      font-size: 0.875rem;
    }
  }
}

.detail {
  padding-bottom: 60px;

  .wrapper {
    max-width: 800px;
    font-size: 0.9rem;

    h2 {
      font-size: 0.9rem;
      font-weight: normal;
      margin: 60px 0 30px;
    }

    .flex {
      display: flex;
      justify-content: space-between;

      img {
        max-width: 400px;
      }

      .text {
        max-width: 330px;
      
        p {
          margin-bottom: 40px;
        }

        dl {
          display: flex;
          flex-wrap: wrap;

          dt {
            width: 30%;
          }

          dd {
            width: 70%;
          }
        }
      }
    }
  }
  
  .back-btn {
    margin-top: 56px;
    text-align: center;
    a {
      font-size: 0.875rem;
    }
  }
}

.about {
  .wrapper {
    max-width: 600px;
    font-size: 0.9rem;

    h2 {
      font-size: 0.9rem;
      font-weight: normal;
      margin: 60px 0 30px;
    }

    p {
      margin-bottom: 30px;
    }
  }
}

.company {
  margin-bottom: 100px;

  .wrapper {
    max-width: 600px;
    font-size: 0.9rem;

    h2 {
      font-size: 0.9rem;
      font-weight: normal;
      margin: 60px 0 30px;
    }

    dl {
      display: flex;
      flex-wrap: wrap;

      dt {
        width: 30%;
        padding: 20px 10px;
        border-bottom: 1px solid #DCDBDB;

        &:last-of-type {
          border-bottom: none;
        }
      }

      dd {
        width: 70%;
        padding: 20px 10px;
        border-bottom: 1px solid #DCDBDB;

        &:last-of-type {
          border-bottom: none;
          padding-bottom: 0;
        }

        ul {
          display: block;
          margin-bottom: 40px;
        }
      }
    }

    iframe {
      filter: grayscale(1);
      width: 100%;
      height: 300px;
    }
  }
}

footer {
  max-width: 1360px;
  margin: 60px auto 12px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;

  &.position,
  &.position2 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  ul {
    display: flex;

    li {
      margin-right: 30px;
    }
  }

  p {
    font-size: 0.625rem;
  }
}

@media (max-width: 900px) {
  header {

  }

  main {
    margin-top: 120px;
    ul {
      grid-template-columns: 47% 47%;
      gap: 24px 6%;
    }
  }

  .company {
    .wrapper {
      dl {
        flex-direction: column;
        
        dt {
          width: 100%;
          padding-bottom: 10px;
          border-bottom: none;
        }
          
        dd {
          width: 100%;
          padding-top: 0;
        }
      } 
    }
  }

  footer {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;

    &.position2 {
      position: static;
    }

    ul {
      margin-bottom: 5px;
    }
  }
}